BasedOnStyle: Chromium
UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AllowShortEnumsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: All
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
IndentCaseLabels: true
NamespaceIndentation: Inner
LambdaBodyIndentation: OuterScope
ColumnLimit: 80
